@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.card {
  border: none;
  box-shadow: 0 0 40px rgb(51 51 51 / 10%);
  margin-bottom: 28px;
}


@import url("./auth/_toastify.css");